<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>En tant qu'utilisateur, je peux accéder à la page d'accueil.</p>
<p>La page d'accueil doit contenir un lien permettant d'accéder à la liste des publications.</p>
