<div class="container">
  <h1>Explore our posts</h1>

  <% @posts.each do |post| %>
    <div class="bg-white p-10 m-50">
      <p>Posted by: <%= post.user.nickname %></p>
      <p></p><%= post.title %></p>
      <p><%= truncate(post.content, length: 450) %>...</p>
      <%= link_to "Read more", post_path(post.id), class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
