.margin {
  margin: 50px 20px;
}


.color-font-white {
  color: white;
}

.card-index-post {
  background-color: white;
  padding: 20px;
  margin: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.light-gray-background {
  background-color: lightgray;
}

.margin-text-area {
  margin: 0 0 16px 0px;
}
